# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
/media/
staticfiles/

# Cloudinary files
*.cloudinary

# VS Code files
.vscode/

# IDE files
.idea/

# environment variables
.env

# Render specific (for deployments)
render.yaml

# keep the file locally not shows on git
create_admin.py

venv/
__pycache__/
*.pyc
db.sqlite3
.env
.idea/
.vscode/
media/
staticfiles/