<!-- Start Footer Section -->
<footer class="footer-section">
  <!-- AOS Script -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true,
      duration: 800,
    });
  </script>

  <!-- AOS JS for scroll animations -->
  <script>
    AOS.init({
      duration: 1000,
      easing: "ease-in-out",
      once: true,
    });
  </script>

  <!-- include Alpine.js -->
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
  ></script>

  <!-- Smooth scrolling to "Back to Gallery" -->
  <script>
    document
      .querySelector(".scroll-to-top")
      .addEventListener("click", function (e) {
        e.preventDefault();
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });
  </script>

  <div class="container position-relative">
    <div class="sofa-img">
      <img src="/static/images/sofa.png" alt="Sofa" class="img-fluid" />
    </div>

    <div class="row g-5 mb-5">
      <div class="col-lg-4">
        <div class="mb-4 footer-logo-wrap">
          <a href="#" class="footer-logo">Lavkush Furniture<span>.</span></a>
        </div>

        <p class="mb-4">
          Discover comfort, elegance, and durability in every piece. Our
          handcrafted furniture blends timeless design with modern craftsmanship
          to create spaces you'll love. We believe furniture isn’t just about
          utility — it’s about lifestyle, comfort, and making your house feel
          like home.
        </p>

        <ul class="list-unstyled custom-social">
          <li>
            <a href="https://chat.whatsapp.com/LsBBfgWAXqIJiUAHXMPbMn"
              ><span class="fab fa-whatsapp"></span
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/jayesh.kalkate/?igsh=MW1rbm1sazcycGo4eg%3D%3D#"
              ><span class="fab fa-instagram"></span
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jayesh-kalkate-31a250242"
              ><span class="fab fa-linkedin-in"></span
            ></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="row links-wrap">
          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="{% url 'aboutus' %}">About</a></li>
              <li><a href="{% url 'services' %}">Services</a></li>
              <li><a href="{% url 'contactus' %}">Contact</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="{% url 'our_team' %}">Our Team</a></li>
              <li class="me-4">
                <a href="{% url 'terms' %}">Terms & Conditions</a>
              </li>
              <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="border-top copyright">
      <div class="row pt-4 align-items-center">
        <div class="col-12 text-center">
          <p class="mb-2">
            &copy; 2025 Lavkush Furniture. All rights reserved. Designed with ❤️
            by <a href="https://untree.co" target="_blank">Untree.co</a>,
            distributed by Lavkush.
          </p>
        </div>

        <div class="col-12 text-center">
          <ul class="list-unstyled d-inline-flex justify-content-center mb-0">
            <li class="me-4">
              <a href="{% url 'terms' %}">Terms & Conditions</a>
            </li>
            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Section -->
